body{
  background: #3d5555;
  font-size: 150%;
  margin: 2%;
}
header,footer{
  background: #080700;
  background: -moz-linear-gradient(top, #080700, bottom #0b2b1f);
  background: -webkit-linear-gradient(#080700,#0b2b1f);
  background: -o-linear-gradient(#080700,#0b2b1f);
  background: linear-gradient(#080700,#0b2b1f);

  text-align: center;
  padding: 3%;

}

footer{
  clear:both;
  color:#be9e94;
}

h1{
  color: #825b1b;
  font-variant: small-caps;
}

nav{
  font-variant: small-caps;
  font-size: 150%;
}

a{
  color: #0e0f0f;
}

nav a{
  width: 22%;
  display: inline-block;
  background-color: #825b1b;

}

h2{
  color: #825b1b;
  background: #052220;
  font-variant: small-caps;
}

details{
  font-style: italic;
}

summary{
  font-style: normal;
}

img{
  width: 105px;
}

.whole{
  clear:both;
}

.half{
  display: inline-block;
  overflow: hidden;
  width: 45%;
  margin: 2.3%;
  float:left;
}
